<h2>Exemplo 1</h2>

@defer {
  <app-defferable-views/>
} @placeholder {
  <p>Mostra quando o componente não estiver carregado</p>
} @loading {
  <p>Executa no carregamento do componente</p>
} @error {
  <p>Executa quando houver erro no carregamento</p>
}


<hr/>


<h2>Exemplo 2</h2>

<!--

  on - Especifica um trigger usando um dos comandos abaixo:
    (idle, timer, viewport, interaction, hover, immediate, prefetch)

-->

<!--
  on idle -  é o padrão, quando o navegador carrega tudo depois ele vai tentar carregar o componente.

  on timer - permite setar um time pra depois carregar o componente

  on viewport - só vai carregar o componente quando o scroll chegar no componente.

  on interaction - permite carregar o componente quando uma ação é executada, seja um click do mouse, hover,  etc.

  on immediate - permite carregar o componente imediatamente

  on hover - quando der uma passada por cima (mouseenter) do placeholder o componente vai carregar

  prefetch on <<command>> - ele adianta o carregamento do componente, ou seja, o componente já vai tá carregando antes do trigger.

  Obs: ao usar vários triggers em um defer, isso significa uma operação OU então qualquer trigger que for acionado fará o componente ser renderizado.
-->

@defer(prefetch on idle; on timer(100s); on viewport; on interaction(trigger)) {
  <app-defferable-views/>
} @placeholder {
  <p>Mostra quando o componente não estiver carregado</p>
} @loading {
  <p>Executa no carregamento do componente</p>
} @error {
  <p>Executa quando houver erro no carregamento</p>
}

<button #trigger>Clique aqui para carregar o componente AppDefferableViews</button>

<hr/>

<h3>Exemplo 3</h3>

<!--

  when - Especifíca uma condição para carregar o componente. Ou seja, ele aciona o componente quando há uma condição booleana.

-->

@defer(when canLoading) {
  <app-defferable-views/>
} @placeholder {
  <p>Mostra quando o componente não estiver carregado</p>
} @loading {
  <p>Executa no carregamento do componente</p>
} @error {
  <p>Executa quando houver erro no carregamento</p>
}

<hr/>

<h3>Exemplo 4</h3>

<!--
  Usar minimum no placeholder permite especificar um tempo mínimo pra depois sim carregar o componente. Ex: um Spinner carregando
-->
@defer {
  <app-defferable-views/>
} @placeholder(minimum 2s) {
  <p>Mostra quando o componente não estiver carregado</p>
} @loading {
  <p>Executa no carregamento do componente</p>
} @error {
  <p>Executa quando houver erro no carregamento</p>
}


<hr/>

<h3>Exemplo 5</h3>

<!--

  O loading serve para quando vai efetuar o chunk do nosso componente, ou seja, quando ele estiver sendo baixado.

  Parâmetros:
    after <<time>> - Depois de X ainda está carregando?

    minimum <<time>> - Então aguarde X
-->
@defer {
  <app-defferable-views/>
} @placeholder {
  <p>Mostra quando o componente não estiver carregado</p>
} @loading(after 250ms; minimum 2s) {
  <p>Executa no carregamento do componente</p>
} @error {
  <p>Executa quando houver erro no carregamento</p>
}

